.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  width: 20%;
  height: 100%;
  margin-right: 0px;
  padding:0px;
  float: right;
  background-color: #282c34
}

.replay-list {
  text-align: left;
  align-items: left;
  list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.replay-button {
  margin-left:0px;
  width: 100%;
}

.replay-button-on {
  background-color: #505257; /* for when replay is replaying */
}

.replay-toggle-button {
  margin-right:30%;
  
  color: white;

}

form {
  margin-top: 2%;
}


.replay-button-icons {
  size:50px;
  text-decoration: false;
  
  
}

.tab-buttons {
  color: white;
}